/* Definisco lo stile generale della mia pagina */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    font-family: 'Fredoka', sans-serif;
    margin: 20px auto;
    width: 75%;
    height: auto;
}

/* Definisco lo stile degli elementi dentro il mio header */

h1 {
    text-align: center;
    color: rgb(231, 70, 124);
    margin-bottom: 30px;
}

header p {
    text-align: center;
}

/* Definisco lo stile delle mie righe e delle mie colonne */
.row::after {
    content: "";
    display: table;
    clear: both;
}

.col::after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-top: 40px;

}

.col {
    float: left;
    width: calc(100%/3);
    height: 100px;
    background-color: white;
}


/* Definisco lo stile della square interna alla colonna */
.square {
    float: left;
    width: 92%;
    height: auto;
    background-color: black;
    color: #fff;
}

.square img {
    height: 100px;
    float: left;
    margin-right: 10px;
}

.text-square {
    margin-top: 10px;
}

.text-square p {
    padding-top: 9px;
}

#email {
    color: lightskyblue;
}
